<div class="cartas">
  <h1>PERSONAJES</h1>
    <div class="card-container">
        <div class="card">
            <div class="first-content">
              <img src="./assets/Link-removebg-preview.png" alt="Link" class="character-image" />
            </div>
            <div class="second-content">
              <h3>LINK</h3>
              <p>Es el protagonista de casi todos los juegos de la saga. Link es un joven valiente destinado a luchar contra el mal y salvar el reino de Hyrule. Aunque su personalidad cambia ligeramente de juego en juego, siempre encarna el coraje y el espíritu de un héroe. Es el portador de la Trifuerza del Valor y empuña la icónica Espada Maestra y el Escudo Hyliano. </p>
            </div>
          </div>
          
          <div class="card">
            <div class="first-content">
              <img src="./assets/Princesa-Zelda.png" alt="Zelda" class="character-image" />
            </div>
            <div class="second-content">
              <h3>ZELDA</h3>
              <p>La princesa de Hyrule y otro de los personajes clave de la serie. Zelda es a menudo la encarnación de la sabiduría y está asociada con la Trifuerza de la Sabiduría. Aunque es a menudo el objetivo a salvar, en varios juegos desempeña un papel más activo, ayudando a Link en su misión y, en algunos casos, adoptando identidades secretas como la de Sheik en Ocarina of Time.</p>
            </div>
          </div>
    
          <div class="card">
            <div class="first-content">
              <img src="./assets/ganon-removebg-preview.png" alt="Zelda" class="character-image" />
            </div>
            <div class="second-content">
              <h3>GANONDORF</h3>
              <p>Es el principal antagonista de la serie. Ganondorf es el rey de los Gerudo, una tribu del desierto, y está vinculado a la Trifuerza del Poder, lo que le otorga una gran fuerza y habilidades mágicas. Su ambición es conquistar Hyrule y obtener el poder absoluto. En su forma más monstruosa, es conocido como Ganon, una gigantesca criatura demoníaca.</p>
            </div>
          </div>
    
          <div class="card">
            <div class="first-content">
              <img src="./assets/Impa-Zelda.png" alt="Zelda" class="character-image" />
            </div>
            <div class="second-content">
              <h3>IMPA</h3>
              <p>Es la protectora y sirviente leal de la familia real de Hyrule, en particular de la princesa Zelda. Impa aparece en varias encarnaciones a lo largo de los juegos, a menudo como una guerrera fuerte y sabia que guía a Link y protege a Zelda. En juegos como Ocarina of Time, pertenece a la tribu Sheikah, conocida por sus habilidades ninjas.</p>
            </div>
          </div>

          <div class="card">
            <div class="first-content">
              <img src="./assets/epona-removebg-preview.png" alt="Zelda" class="character-image" />
            </div>
            <div class="second-content">
              <h3>EPONA</h3>
              <p>Es el fiel caballo de Link, apareciendo en varios juegos de la serie, siendo su debut en Ocarina of Time. Epona permite a Link viajar rápidamente por los vastos campos de Hyrule y otros territorios. Aunque no es un personaje parlante, su papel es fundamental, especialmente en los juegos con grandes áreas para explorar. Epona se ha convertido en un símbolo de la libertad y el compañerismo en la saga, ayudando a Link en sus aventuras.</p>
            </div>
          </div>

          <div class="card">
            <div class="first-content">
              <img src="./assets/midna-zelda.png" alt="Zelda" class="character-image" />
            </div>
            <div class="second-content">
              <h3>MIDNA</h3>
              <p>Es un personaje central en The Legend of Zelda: Twilight Princess. Es la gobernante del Reino del Crepúsculo (Twilight Realm) y al principio aparece como una pequeña figura traviesa que guía a Link. A lo largo del juego, se revela que fue traicionada por Zant y convertida en esa forma. Midna desarrolla una relación cercana con Link y juega un papel crucial en la historia.</p>
            </div>
          </div>
      
      </div>



</div>

  