    <div class="container">
        <h1>JUEGOS</h1>
        <div class="games-grid">
            <div class="game-card">
                <img src="./assets/majora.png" alt="The Legend of Zelda Majoras Mask">
                <p>THE LEGEND OF ZELDA MAJORA'S MASK</p>
                <p>2000</p>
            </div>
            <div class="game-card">
                <img src="./assets/twilig.jpg" alt="The Legend of Zelda Twilight Princess">
                <p>THE LEGEND OF ZELDA TWILIGHT PRINCESS</p>
                <p>2006</p>
            </div>
            <div class="game-card">
                <img src="./assets/ocarina.jpg" alt="The Legend of Zelda Ocarina of Time">
                <p>THE LEGEND OF ZELDA OCARINA OF TIME</p>
                <p>1998</p>
            </div>
            <div class="game-card">
                <img src="./assets/skyward.jpg" alt="The Legend of Zelda Skyward Sword">
                <p>THE LEGEND OF ZELDA SKYWARD SWORD</p>
                <p>2011</p>
            </div>
            <div class="game-card">
                <img src="./assets/breath.jpg" alt="The Legend of Zelda Breath of the Wild">
                <p>THE LEGEND OF ZELDA BREATH OF THE WILD</p>
                <p>2017</p>
            </div>
            <div class="game-card">
                <img src="./assets/tears.jpg" alt="The Legend of Zelda Tears of the Kingdom">
                <p>THE LEGEND OF ZELDA TEARS OF THE KINGDOM</p>
                <p>2023</p>
            </div>
            <div class="game-card">
                <img src="./assets/links awakenin.jpg" alt="The Legend of Zelda Link's Awakening">
                <p>THE LEGEND OF ZELDA LINK'S AWAKENING</p>
                <p>1993</p>
            </div>
            <div class="game-card">
                <img src="./assets/wind.jpg" alt="The Legend of Zelda Windwaker">
                <p>THE LEGEND OF ZELDA WINDWAKER</p>
                <p>2002</p>
            </div>
            <div class="game-card">
                <img src="./assets/legend.jpg" alt="The Legend of Zelda">
                <p>THE LEGEND OF ZELDA</p>
                <p>1986</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="./assets/trifuerza.jpg" alt="Zelda Logo">
            </div>
            <div class="footer-text">
                <p>UNIVERSIDAD POLITÉCNICA DE CHIAPAS</p>
                <p>LANDING PAGE</p>
                <p>DENZEL ENRIQUE SANTIAGO ZEPEDA</p>
                <p>DERECHOS DE AUTOR RESERVADOS</p>
            </div>
            <div class="socials">
                <img src="./assets/facebook.png" alt="Facebook">
                <img src="./assets/Insta.png" alt="Instagram">
                <img src="./assets/Whats.png" alt="WhatsApp">
            </div>
        </div>
    </footer>
