<div class="landing-page">
    <div class="header-section">
      <div class="logo-container">
        <img class="logo" src="./assets/Trifuerza-logo.PNG" alt="Zelda Logo" />
        <img class="nintendo-logo" src="./assets/Nintendo.png" alt="Nintendo Logo" />
      </div>
      <div class="main-image-container">
        <img class="main-image" src="./assets/Campeones.png" alt="The Legend of Zelda" />
        <div class="main-title">
          <h1>THE LEGEND OF ZELDA</h1>
        </div>
      </div>
    </div>
  
    <div class="content-section">
      <h2>Historia</h2>
      <div class="image-text-container reverse">
        <img class="content-image" src="./assets/Zelda1.jpg" alt="Zelda Image 1" />
        <p>La saga de videojuegos "The Legend of Zelda" es una de las franquicias más icónicas y longevas de la industria de los videojuegos. Creada por Shigeru Miyamoto y desarrollada por Nintendo, la serie debutó en 1986 con el lanzamiento de The Legend of Zelda para la consola Famicom Disk System en Japón y para la Nintendo Entertainment System (NES) en el resto del mundo.
        </p>
      </div>
  
      <div class="image-text-container ">
        <img class="content-image" src="./assets/Linkchiquito.jpg" alt="Zelda Image 2" />
        <p>
          La inspiración de Miyamoto para The Legend of Zelda provino de su infancia. De joven, Miyamoto exploraba los bosques, cuevas y campos cercanos a su hogar en Kioto, Japón. Estas experiencias de exploración y aventura le dejaron una profunda impresión, y él quería trasladar esa sensación de descubrimiento y misterio a los videojuegos. El concepto central de Zelda se basa en la exploración libre de un mundo amplio, lleno de secretos, con pocas indicaciones claras, lo que obligaba a los jugadores a buscar pistas y experimentar por sí mismos.
        </p>
      </div>
      <div class="image-text-container reverse">
        <img class="content-image" src="./assets/Zelda2.jpg" alt="Zelda Image 3" />
        <p>
          Innovación en la jugabilidad: The Legend of Zelda es conocida por introducir mecánicas innovadoras como los acertijos basados en el entorno, el uso de herramientas como el gancho o las bombas, y un sistema de combate refinado que ha influido en muchas franquicias posteriores.
        </p>
      </div>
  
      <div class="image-text-container">
        <img class="content-image" src="./assets/Arbol.jpg" alt="Zelda Image 4" />
        <p>
          Longevidad: Con más de 35 años de historia y más de 25 juegos (contando títulos principales y spin-offs), The Legend of Zelda sigue siendo una de las franquicias más importantes de Nintendo y de la historia de los videojuegos.        </p>
      </div>

      <div class="image-text-container reverse">
        <img class="content-image" src="./assets/Zelda3.jpg" alt="Zelda image 5">
        <p>
          Influencias culturales: La serie ha tenido un gran impacto cultural, desde las músicas icónicas de sus juegos, como el "Tema de Zelda", hasta personajes memorables como Ganondorf, Zelda y, por supuesto, Link.
        </p>
      </div>
    </div>
  </div>
  